%flex-row {
 display: flex;
 flex-direction: row;
}

%flex-column {
 display: flex;
 flex-direction: column;
}

%grid-col-base {
  @extend %flex-column;
  margin-bottom: $spacing-small;
  flex-basis: 100%;
  width: 100%;

  @include media-query('desktop') {
    // base stlyes applied to all grid columns
    margin-bottom: 0;
  }
}

%nav-links {
  @extend %padded;
  display: block;
  text-align: center;
  color: $color-nav-text;
  background-color: $white;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    color: $color-nav-text-highlight;
    background-color: $color-nav-link-highlight;
  }
}

%padded {
  @extend %rounded-border;
  padding: $padding-button;
}

%rounded-border {
  border-radius: $border-radius;
}

%textfield {
  @extend %rounded-border;
  border: none;
  border-bottom: $border-input-size solid $color-border;
  margin-bottom: $spacing-medium;
  padding: $spacing-extra-small;
  transition: background-color 0.3s;

  &:focus {
    background-color: $color-input-focus;
    outline: none;
  }
}



%btn {
  @extend %padded;
  font-size: $size-quintary-text;
  text-transform: uppercase;
  margin-bottom: $spacing-small;
  transition: opacity 0.5s;
  color: white;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: initial;
  }
}
