.img {
  &--logo{

  }

  &--frame {
    width: 100%;
    padding: $padding-img-frame;
    border: $black solid $border-image-size;

    @include media-query('desktop') {
      width: initial;
      align-self: center;
    }
  }

  &--avatar {
    margin-bottom: $spacing-small;
    align-self: center;
  }
}
